{
    "matrix": {
        "homeserver": "",
        "port": 443,
        "proxy": null,
        "proxy_port": null,
        "proxy_type": null,
        "ssl_insecure": false,
        "user": "",
        "password": "",
        "rooms": [],
        "encryption": true
    },
    "fraenir": {
        "db": "fraenir.sqlite",
        "passphrase": "secretz",
    }
}
